body {
  margin: 0;
  background-image: url("../images/images1/bg.png"); }

.border-margin {
  border: 1em solid transparent;
  box-sizing: border-box; }

#nav .NavComponent {
  clear: both;
  display: block;
  height: 60px;
  text-align: center;
  background: #FFFFFF; }
  #nav .NavComponent .black-bar {
    background: #525252;
    width: 100%;
    height: 5px;
    margin-bottom: 5px; }
  #nav .NavComponent .logo {
    color: #053412;
    float: left;
    margin: 0 0 10px 20px;
    height: 32px; }
    #nav .NavComponent .logo img {
      height: 32px;
      width: 32px; }
    #nav .NavComponent .logo span {
      margin-left: 0;
      font-size: 20px; }
  #nav .NavComponent a {
    margin: 0 20px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000; }

.AddJobComponent {
  margin: 0 auto; }
  .AddJobComponent > div {
    border: 1em solid transparent;
    box-sizing: border-box; }
  .AddJobComponent .JobTipsComponent {
    width: 100%;
    min-width: 300px;
    background: #FFFFFF;
    padding: 1em;
    box-shadow: 0 5px 5px 0 #ccc;
    box-sizing: border-box; }
    .AddJobComponent .JobTipsComponent .tips-box {
      margin: 15px 0; }
    .AddJobComponent .JobTipsComponent .bold {
      font-weight: bold; }
  .AddJobComponent .JobFormComponent {
    padding: 15px;
    background: #FFFFFF;
    min-width: 300px;
    width: 100%;
    box-shadow: 0 5px 5px 0 #ccc;
    height: 26em;
    box-sizing: border-box; }
    .AddJobComponent .JobFormComponent form input {
      display: block;
      font-size: 15px;
      width: 100%;
      margin-bottom: 10px; }
    .AddJobComponent .JobFormComponent form textarea {
      height: 60px;
      display: block;
      width: 100%;
      border-color: #DFDFDF;
      margin-bottom: 10px; }
    .AddJobComponent .JobFormComponent form label {
      font-weight: bold; }
    .AddJobComponent .JobFormComponent form button {
      float: right;
      background: #3E9A48;
      border: 1px solid #97C69E;
      color: #EEF6C1;
      border-radius: 4px;
      padding: 4px;
      font-size: 15px; }

.JobListingComponent .CompanyInformationComponent {
  background: #FFFFFF;
  padding: 1em; }
  .JobListingComponent .CompanyInformationComponent h2 {
    margin: 0; }
  .JobListingComponent .CompanyInformationComponent .companyLogo {
    text-align: center;
    height: 250px; }
    .JobListingComponent .CompanyInformationComponent .companyLogo img {
      height: 125px;
      width: 125px;
      position: relative;
      top: 190px; }
  .JobListingComponent .CompanyInformationComponent div:last-child {
    text-align: center;
    padding: 72px 0 20px 0;
    background: #FFFFFF; }

.JobListingComponent .JobListingInfoComponent {
  background: #FFFFFF;
  padding: 1em; }
  .JobListingComponent .JobListingInfoComponent .JobPosition {
    font-weight: bold;
    font-size: 22px;
    color: #1D4529;
    margin-bottom: 10px; }
    .JobListingComponent .JobListingInfoComponent .JobPosition .datePosted {
      float: right;
      font-size: 14px;
      font-weight: none;
      color: #A8A8A8; }
  .JobListingComponent .JobListingInfoComponent .Employer {
    font-weight: bold; }
  .JobListingComponent .JobListingInfoComponent .Description {
    color: #A8A8A8;
    margin: 10px 0; }
  .JobListingComponent .JobListingInfoComponent > span {
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #F0F2B7;
    background: #F9FAE7; }
  .JobListingComponent .JobListingInfoComponent hr {
    color: #EAEAEA;
    margin: 30px 0; }

@media screen and (min-width: 399px) {
  #nav .NavComponent {
    margin-bottom: 50px; } }

@media screen and (min-width: 537px) {
  #nav .NavComponent .logo {
    display: inline;
    margin: 0;
    float: none; } }

@media screen and (min-width: 800px) {
  .left-column {
    display: inline-block;
    vertical-align: top;
    width: 70%; }
  .right-column {
    display: inline-block;
    vertical-align: top;
    width: 30%; }
  #nav .NavComponent {
    margin-bottom: 10px; }
  .AddJobComponent > div:first-child {
    display: inline-block;
    width: 70%;
    vertical-align: top; }
  .AddJobComponent > div:last-child {
    display: inline-block;
    width: 30%;
    vertical-align: top; } }
