body {
  margin: 0; }

#nav .NavComponent {
  clear: both;
  display: block;
  height: 50px;
  text-align: center; }
  #nav .NavComponent .black-bar {
    background: #525252;
    width: 100%;
    height: 5px;
    margin-bottom: 5px; }
  #nav .NavComponent .logo {
    color: #053412;
    float: left;
    margin: 0 0 10px 20px;
    height: 32px; }
    #nav .NavComponent .logo img {
      height: 32px;
      width: 32px; }
    #nav .NavComponent .logo span {
      margin-left: 0;
      font-size: 20px; }
  #nav .NavComponent a {
    margin: 0 20px;
    font-weight: bold;
    font-size: 14px;
    text-decoration: none;
    color: #000000; }

.AddJobComponent {
  margin: 0 auto; }
  .AddJobComponent .JobTipsComponent {
    width: 100%;
    min-width: 300px;
    box-sizing: border-box;
    padding: 15px;
    border-width: 2px;
    border-image: url("../images/images1/bg.png") 20% repeat; }
    .AddJobComponent .JobTipsComponent .tips-box {
      margin: 15px 0; }
    .AddJobComponent .JobTipsComponent .bold {
      font-weight: bold; }
  .AddJobComponent .JobFormComponent {
    padding: 15px;
    min-width: 300px;
    width: 100%;
    margin-right: 10px;
    box-sizing: border-box; }
    .AddJobComponent .JobFormComponent form input {
      display: block;
      font-size: 15px;
      width: 100%;
      margin-bottom: 10px; }
    .AddJobComponent .JobFormComponent form textarea {
      height: 60px;
      display: block;
      width: 100%;
      border-color: #DFDFDF;
      margin-bottom: 10px; }
    .AddJobComponent .JobFormComponent form label {
      font-weight: bold; }
    .AddJobComponent .JobFormComponent form button {
      float: right;
      background: #3E9A48;
      border: 1px solid #97C69E;
      color: #EEF6C1;
      border-radius: 4px;
      padding: 4px;
      font-size: 15px; }

.CompanyInformationComponent {
  width: 500px;
  text-align: center; }
  .CompanyInformationComponent div {
    height: 100%; }
    .CompanyInformationComponent div img {
      height: 125px;
      width: 125px;
      margin-top: 50px; }
    .CompanyInformationComponent div h1 {
      color: #EAEAEA; }
    .CompanyInformationComponent div h3 {
      color: #EAEAEA; }

.JobListingInfoComponent {
  padding: 0 20px; }
  .JobListingInfoComponent .JobPosition {
    font-weight: bold;
    font-size: 22px;
    color: #1D4529;
    margin-bottom: 10px; }
    .JobListingInfoComponent .JobPosition .datePosted {
      float: right;
      font-size: 14px;
      font-weight: none;
      color: #A8A8A8; }
  .JobListingInfoComponent .Employer {
    font-weight: bold; }
  .JobListingInfoComponent .Description {
    color: #A8A8A8;
    margin: 10px 0; }
  .JobListingInfoComponent > span {
    margin-right: 5px;
    padding: 2px;
    border: 1px solid #F0F2B7;
    background: #F9FAE7; }
  .JobListingInfoComponent hr {
    color: #EAEAEA;
    margin: 30px 0; }

@media screen and (min-width: 399px) {
  #nav .NavComponent {
    margin-bottom: 50px; } }

@media screen and (min-width: 537px) {
  #nav .NavComponent .logo {
    display: inline;
    margin: 0;
    float: none; } }

@media screen and (min-width: 800px) {
  #nav .NavComponent {
    margin-bottom: 10px; }
  .AddJobComponent > div {
    display: inline-block;
    width: 50%; } }
